
.vs/GraphQL-NET/v15/Server/sqlite3/db.lock
.vs/GraphQL-NET/v15/Server/sqlite3/storage.ide
.vs/GraphQL-NET/v15/Server/sqlite3/storage.ide-shm
.vs/GraphQL-NET/v15/Server/sqlite3/storage.ide-wal
GraphQL-NET/obj/Debug/GraphQL-NET.csproj.CoreCompileInputs.cache
GraphQL-NET/obj/Debug/GraphQL-NET.csproj.CoreCompileInputs.cache
GraphQL-NET/obj/Debug/GraphQL-NET.csprojAssemblyReference.cache
GraphQL-NET/obj/Debug/GraphQL-NET.csproj.CoreCompileInputs.cache
GraphQL-NET/obj/Debug/GraphQL-NET.csprojAssemblyReference.cache
GraphQL-NET/obj/Debug/GraphQL-NET.csproj.CoreCompileInputs.cache
